################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/NET Tools Test/obj
/NET.Tools/obj
/NET.Tools.Console.Demo/obj
/NET.Tools.Demo/obj
/NET.Tools.DirectX.Demo/obj
/NET.Tools.Engines.AbstractGUI/obj
/NET.Tools.Engines.ASN1/obj
/NET.Tools.Engines.AVM/obj
/NET.Tools.Engines.CodeBuilder/obj
/NET.Tools.Engines.CommandLine/obj
/NET.Tools.Engines.CommandLine.Test/obj
/NET.Tools.Engines.Graphics2D/obj
/NET.Tools.Engines.Graphics3D/obj
/NET.Tools.Engines.Graphics3D.Direct3D11/obj
/NET.Tools.Engines.Graphics3D.Direct3D9/obj
/NET.Tools.Engines.Internationalization/obj
/NET.Tools.Engines.Mathematica/obj
/NET.Tools.Engines.Mathematica.Test/obj
/NET.Tools.Engines.Network/obj
/NET.Tools.Engines.Network.Test/obj
/NET.Tools.Engines.Office/obj
/NET.Tools.Engines.Office.Test/obj
/NET.Tools.Engines.Organizer/obj
/NET.Tools.Forms.Controls/obj
/NET.Tools.Forms.Dialogs/obj
/NET.Tools.Forms.Tools/obj
/NET.Tools.OS/obj
/NET.Tools.OS.COM/obj
/NET.Tools.OS.Tools/obj
/NET.Tools.OS.Windows7/obj
/NET.Tools.WPF.Animations/obj
/NET.Tools.WPF.Controls/obj
/NET.Tools.WPF.Dialogs/obj
/NET.Tools.WPF.Effects/obj
/NET.Tools.WPF.Graphics2D/obj
/NET.Tools.WPF.Graphics3D/obj
/NET.Tools.WPF.Skins/obj
/NET.Tools.WPF.Skins.ArtSkin/obj
/NET.Tools.WPF.Skins.BlackSkin/obj
/NET.Tools.WPF.Skins.ChalkSkin/obj
/NET.Tools.WPF.Skins.CIMSkin/obj
/NET.Tools.WPF.Skins.NimbusSkin/obj
/NET.Tools.WPF.Skins.PaperSkin/obj
/NET.Tools.WPF.Skins.PortalSkin/obj
/NET.Tools.WPF.Skins.Sims3Skin/obj
/NET.Tools.WPF.Tools/obj
